:root {
  --main-color: rgb(226, 217, 199);
  --text-color: rgb(120, 184, 81);
  --alternative-color: rgb(201, 204, 180);
}

@font-face {
  font-family: "HandwrittenMarker";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Cookiemonster-gv11.ttf") format("truetype");
}

html,
body {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--alternative-color);
    display: flex;
    flex-direction: row;
    align-items: center;
}

main {
    margin: 1rem;
    gap: 2rem;
}

footer {
    background-color: var(--alternative-color);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;  
}
nav {
    border: none;
    width: 100%;
    height: 2rem;
    padding: 2pt;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: var(--alternative-color);
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    margin: 0 1rem;
}

nav a:hover {
    color: var(--text-color);
}

#connection_method {
  display: flex;
  justify-content: left;
  gap: 1rem;
  font-size: 1rem;
}
#connection_method a {
  text-decoration: none;
  color: var(--text-color);
}

#connection_method a:hover {
  text-decoration: underline;
}