:root {
  --main-color: rgb(226, 217, 199);
  --text-color: rgb(120, 184, 81);
}

html,
body {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    margin: 0;
    padding: 0;
}

main {
    margin: 1rem;
}

footer {
    margin: 1rem;
}

nav {
    border: none;
    width: 100%;
    height: 2rem;
    padding: 2pt;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: var(--main-color);
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    margin: 0 1rem;
}

#connection_method {
  display: flex;
  justify-content: left;
  gap: 1rem;
  font-size: 1rem;
}

#connection_method a {
  text-decoration: none;
  color: var(--text-color);
}

#connection_method a:hover {
  text-decoration: underline;
  color: var(--text-color);
}