:root {
  --main-color: rgb(226, 217, 199);
  --text-color: rgb(120, 184, 81);
  --alternative-color: rgb(201, 204, 180);
  --title-font: 'Courier New', Courier, monospace;
  --content-font: Verdana, Geneva, sans-serif;
}

@font-face {
  font-family: "HandwrittenMarker";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Cookiemonster-gv11.ttf") format("truetype");
}

@font-face {
  font-family: "ReceiptTitleFont";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/receiptional-receipt-regular.ttf") format("truetype");
}

@font-face {
  font-family: "ReceiptContentFont";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/merchant-copy.ttf") format("truetype");
}

html,
body {
    background-color: var(--main-color);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--alternative-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
}

main {
    margin: 2rem;

    gap: 2rem;
}

footer {
    background-color: var(--alternative-color);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;  
}
nav {
    border: none;
    gap: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: var(--alternative-color);
    flex-wrap: wrap;
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    margin: 0 1rem;
}

nav a:hover {
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font);
    color: var(--text-color);
}

p, li, span, div, article, section, a {
    font-family: var(--content-font);
    color: black;
    font-size: 1rem;
    line-height: 1.5;
}

#connection_method {
  display: flex;
  justify-content: left;
  gap: 1rem;
  font-size: 1rem;
}
#connection_method a {
  text-decoration: none;
  color: var(--text-color);
}

#connection_method a:hover {
  text-decoration: underline;
}

hr.dashed_border {
border-top: 2px dashed black;
}